In [14]:
x = [3,5,6,89,0,32,1,12]

In [15]:
x

[3, 5, 6, 89, 0, 32, 1, 12]

In [16]:
for val in x:
    print(val)

3
5
6
89
0
32
1
12

In [17]:
for val in x:
    print(val*2)

6
10
12
178
0
64
2
24

In [18]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [19]:
for i in range(2,10):
    print(i*2)

4
6
8
10
12
14
16
18

In [20]:
for i in range(0,100,5):
    print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [21]:
# Even & Odd

for i in range(0,100):
    if i%2 == 0:
        print("Even number:",i)
    else:
        print("Odd number: ",i)

Even number: 0
Odd number:  1
Even number: 2
Odd number:  3
Even number: 4
Odd number:  5
Even number: 6
Odd number:  7
Even number: 8
Odd number:  9
Even number: 10
Odd number:  11
Even number: 12
Odd number:  13
Even number: 14
Odd number:  15
Even number: 16
Odd number:  17
Even number: 18
Odd number:  19
Even number: 20
Odd number:  21
Even number: 22
Odd number:  23
Even number: 24
Odd number:  25
Even number: 26
Odd number:  27
Even number: 28
Odd number:  29
Even number: 30
Odd number:  31
Even number: 32
Odd number:  33
Even number: 34
Odd number:  35
Even number: 36
Odd number:  37
Even number: 38
Odd number:  39
Even number: 40
Odd number:  41
Even number: 42
Odd number:  43
Even number: 44
Odd number:  45
Even number: 46
Odd number:  47
Even number: 48
Odd number:  49
Even number: 50
Odd number:  51
Even number: 52
Odd number:  53
Even number: 54
Odd number:  55
Even number: 56
Odd number:  57
Even number: 58
Odd number:  59
Even number: 60
Odd number:  61
Even number: 62
Odd number:  63
Even number: 64
Odd number:  65
Even number: 66
Odd number:  67
Even number: 68
Odd number:  69
Even number: 70
Odd number:  71
Even number: 72
Odd number:  73
Even number: 74
Odd number:  75
Even number: 76
Odd number:  77
Even number: 78
Odd number:  79
Even number: 80
Odd number:  81
Even number: 82
Odd number:  83
Even number: 84
Odd number:  85
Even number: 86
Odd number:  87
Even number: 88
Odd number:  89
Even number: 90
Odd number:  91
Even number: 92
Odd number:  93
Even number: 94
Odd number:  95
Even number: 96
Odd number:  97
Even number: 98
Odd number:  99

In [22]:
for num1 in range(3):
    for num2 in range(10,15):
        print(num1,",",num2)

0 , 10
0 , 11
0 , 12
0 , 13
0 , 14
1 , 10
1 , 11
1 , 12
1 , 13
1 , 14
2 , 10
2 , 11
2 , 12
2 , 13
2 , 14

In [23]:
y=0
while (y<4):
    print(y)
    y=y+1

0
1
2
3

In [24]:
i = 10
j = 20
while i>0 and j>0:
    print([i,j])
    i-=1
    j-=2

[10, 20]
[9, 18]
[8, 16]
[7, 14]
[6, 12]
[5, 10]
[4, 8]
[3, 6]
[2, 4]
[1, 2]

In [25]:
x = [1,2,3,4]
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [26]:
[item**2 for item in x]

[1, 4, 9, 16]

In [27]:
def clc(x,y):
    return x*y
print(clc(10,20))

200

In [28]:
calc = lambda x,y: x*y
print(calc(10,200))

2000

In [29]:
x = [2,4,6,8,9]
list(map(lambda v:v*2,x))

[4, 8, 12, 16, 18]

In [30]:
x = [2,4,6,8,9]
list(map(lambda v:v%2==0,x))

[True, True, True, True, False]

In [31]:
x = [2,4,6,8,9]
list(filter(lambda v:v%2==0,x))

[2, 4, 6, 8]

In [32]:
X = " My name is Anmol"
X

' My name is Anmol'

In [33]:
X.lower()

' my name is anmol'

In [34]:
X.upper()

' MY NAME IS ANMOL'

In [35]:
X.split()

['My', 'name', 'is', 'Anmol']

In [ ]:
d = {'key1': 'item',''}