In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
Z = pd.read_csv("Train.csv")
Z

      feature_1  feature_2  feature_3  feature_4  feature_5      target
0      0.293416  -0.945599  -0.421105   0.406816   0.525662  -82.154667
1     -0.836084  -0.189228  -0.776403  -1.053831   0.597997  -48.897960
2      0.236425   0.132836  -0.147723   0.699854  -0.187364   77.270371
3      0.175312   0.143194  -0.581111  -0.122107  -1.292168   -2.988581
4     -1.693011   0.542712  -2.798729  -0.686723   1.244077  -37.596722
...         ...        ...        ...        ...        ...         ...
1595  -0.274961  -0.820634  -0.757173  -0.147555  -0.307149  -80.110012
1596  -0.076099   0.255257   0.290054   1.796036   0.340350  118.315601
1597   1.044177  -0.899206   1.730399  -1.871057   0.442520 -107.510508
1598  -1.269173  -0.005052   1.857669  -1.080365   0.736334  -47.341558
1599  -1.884000  -0.849427  -1.452270   0.488613   1.459576 -115.939003

[1600 rows x 6 columns]

In [3]:
X = Z[Z.columns[:-1]]
Y = Z[Z.columns[-1]]
X.shape,Y.shape

((1600, 5), (1600,))

In [4]:
df = pd.DataFrame(X)
df

      feature_1  feature_2  feature_3  feature_4  feature_5
0      0.293416  -0.945599  -0.421105   0.406816   0.525662
1     -0.836084  -0.189228  -0.776403  -1.053831   0.597997
2      0.236425   0.132836  -0.147723   0.699854  -0.187364
3      0.175312   0.143194  -0.581111  -0.122107  -1.292168
4     -1.693011   0.542712  -2.798729  -0.686723   1.244077
...         ...        ...        ...        ...        ...
1595  -0.274961  -0.820634  -0.757173  -0.147555  -0.307149
1596  -0.076099   0.255257   0.290054   1.796036   0.340350
1597   1.044177  -0.899206   1.730399  -1.871057   0.442520
1598  -1.269173  -0.005052   1.857669  -1.080365   0.736334
1599  -1.884000  -0.849427  -1.452270   0.488613   1.459576

[1600 rows x 5 columns]

In [5]:
df.describe()

         feature_1    feature_2    feature_3    feature_4    feature_5
count  1600.000000  1600.000000  1600.000000  1600.000000  1600.000000
mean      0.004114    -0.027604    -0.044459    -0.042408     0.012005
std       0.997338     1.021776     1.011768     1.017189     0.978654
min      -3.380125    -3.314844    -3.153118    -3.250169    -2.851707
25%      -0.647165    -0.705030    -0.706385    -0.709504    -0.615880
50%      -0.000360    -0.043769    -0.041272    -0.029756    -0.013527
75%       0.682118     0.645442     0.639130     0.646290     0.650089
max       3.287205     3.438895     3.216176     2.985410     3.321770

In [6]:
# Normalise
X = (X-np.mean(X,axis=0))/np.std(X,axis=0)

In [7]:
df = pd.DataFrame(X)
df.describe()

          feature_1     feature_2     feature_3     feature_4     feature_5
count  1.600000e+03  1.600000e+03  1.600000e+03  1.600000e+03  1.600000e+03
mean  -2.831069e-17 -2.220446e-17 -3.108624e-17  2.109424e-17  2.553513e-17
std    1.000313e+00  1.000313e+00  1.000313e+00  1.000313e+00  1.000313e+00
min   -3.394334e+00 -3.218189e+00 -3.073464e+00 -3.154539e+00 -2.927091e+00
25%   -6.532217e-01 -6.631960e-01 -6.544315e-01 -6.560276e-01 -6.417809e-01
50%   -4.487509e-03 -1.582564e-02  3.151454e-03  1.244233e-02 -2.609701e-02
75%    6.800261e-01  6.589081e-01  6.758504e-01  6.772709e-01  6.522049e-01
max    3.292885e+00  3.393682e+00  3.223719e+00  2.977582e+00  3.383015e+00

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   feature_1  1600 non-null   float64
 1   feature_2  1600 non-null   float64
 2   feature_3  1600 non-null   float64
 3   feature_4  1600 non-null   float64
 4   feature_5  1600 non-null   float64
dtypes: float64(5)
memory usage: 62.6 KB

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.25,random_state=0)

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
model = LinearRegression()

In [12]:
model.fit(X_train,Y_train)

LinearRegression()

In [13]:
model.score(X_test,Y_test)

0.9623072569556468

In [14]:
model.coef_

array([29.07607166, 95.22406377,  8.5503385 , 45.18679486,  2.37550886])

In [15]:
model.intercept_

0.34099888541835544

In [17]:
# model.predict(X_test)

In [19]:
test = pd.read_csv("Test.csv")

In [20]:
df1 = pd.DataFrame(test)

In [21]:
df1.head()

   feature_1  feature_2  feature_3  feature_4  feature_5
0   1.015254   2.076209  -0.266435  -2.418088  -0.980503
1  -0.375021   0.953185   0.626719   0.704406  -0.355489
2  -1.024452   0.962991  -0.407942  -1.861274   0.455201
3  -2.489841   0.544802   0.601219  -0.607021  -1.314286
4  -0.384675  -0.833624   1.358552  -0.547932   0.411925

In [25]:
output = model.predict(df1)

In [28]:
df2 = pd.DataFrame(output, index = [i for i in range(output.shape[0])], columns=['Target'])

In [29]:
df2.head()

       Target
0  113.692737
1  116.546991
2  -24.257827
3  -45.586384
4 -102.389596

In [30]:
df2.to_csv("Sample_output.csv")